body {
    margin:0;
}

.head {
    position: absolute;
    top: 0;
    height: 2em;
    left: 0;
    right: 0;
    background-color: #2a2f32;
}

.left {
    position: absolute;
    top: 2em;
    bottom: 0;
    left: 0;
    width: 10em;
    background-color: #293038;
}

.right {
    position: absolute;
    top: 2em;
    bottom: 0;
    right: 0;
    width: 20em;
    background-color: #eaedf1;
}

.main {
    background-color: #eaedf1;
}

.main > .top {
    position: absolute;
    top: 2em;
    left: 10em;
    right: 20em;
    height: 3em;
    border-bottom: 1px solid #DDD;
}

    .main > .top a {
        text-decoration: none;
        color: #333;
    }

    .main > .top > .btn {
        display: inline-block;
        height: 100%;
        line-height: 3em;
        margin-right:0.5em;
        margin-left:0.5em;
        padding-left:0.5em;
        padding-right:0.5em;
    }

        .main > .top > .btn .dropdownlist {
            position: absolute;
            z-index: 2000;
            line-height: 2em;
            background-color: #f7f8fa;
            width: 7em;
            text-align: center;
            margin-left: -0.5em;
            box-shadow: 3px 3px 3px rgba(0,0,0,0.35);
            display: none;
        }
            .main > .top > .btn .dropdownlist span {
                float: none;
                clear: both;
                width: 100%;
                display:block;
            }

        
        .main > .top .btn:hover{
            background-color: #00C1DE;
            color: #FFF;
        }

            .main > .top a:hover .dropdownlist
            {
                color:#000;
            }

                .main > .top .btn:hover .dropdownlist > div > .item:hover {
                    background-color: #ebecec;
                    color: #000;
                }
                
                
                
                .main > .top > .search {
                    width: 40em;
                    height: 100%;
                    float: right;
                }

        .main > .top > .search >.input{
            height:100%;
            float:right;
        }
        
        
        .main > .top > .search [type='text'] {
            border: none;
            height: 95%;
        }

        .main > .top > .search .btn {
            width: 4em;
            height: 100%;
            float: right;
            line-height: 3em;
            text-align: center;
        }


    .main > .list {
        position: absolute;
        top: 5em;
        left: 10em;
        bottom: 0;
        width: 12em;
        background-color: #F9F9FA;
    }
        
        .main > .content {
            position: absolute;
            top: 5em;
            left: 22em;
            right: 20em;
            bottom:0;
        }

            .main > .content table {
                width: 100%;
                border-collapse: collapse;
                color: #666;
                font-size:0.9em;
            }

            .main > .content thead {
                background-color: #F5F6FA;
                border: 1px solid #e1e6eb;
                height: 2em;
                line-height: 2em;
                color:#999;
                text-align:left;
            }

                .main > .content thead th:first-child {
                    padding-left: 1.5em;
                }
            
            .main > .content tbody tr {
                    height: 2.5em;
                    line-height: 2.5em;
                    text-align: left;
                }

            .main > .content tr td:first-child {
                padding-left:1.5em;
            }
                .main > .content tbody tr:hover {
                    background-color: #F9F9FA;
                }
                
                
                .main > .content a {
                    text-decoration: none;
                }

            .main > .content > .Pager {
                width: 100%;
                height: 3em;
                background-color: #F5F6FA;
                border: 1px solid #e1e6eb;
                text-align: right;
            }

                .main > .content > .Pager a {
                    height: 100%;
                    width: 3em;
                    display: inline-block;
                    line-height: 3em;
                    text-align: center;
                    color:#999;
                }

                    .main > .content > .Pager a.selected {
                        background-color: #00C1DE;
                        color: #FFF;
                    }

                    .main > .content > .Pager a:hover {
                        background-color: #00C1DE;
                        color: #FFF;
                    }
                    
                    
                    .main > .content > .Pager > a:last-child {
                        margin-right: 1em;
                    }

                .main > .content > .Pager > a:first-child {
                    width: auto;
                }
                        
                        .main > .content > .Pager select {
                            margin-left: 0.5em;
                            height: 95%;
                            margin-right: 0.5em;
                            width: 3em;
                            border: none;
                            vertical-align: middle;
                        }


.left  a
{
   text-decoration:none;
   color:#AAA;
}


.left > ul {
    list-style: none;
    margin-left: -40px;
    margin-top:0;
    margin-bottom:0;
}

.left .menuItem.groupItem {
    font-size: 1.5em;
    background-color: #4a5064;
}


.left .menuItem {
    width: 100%;
    height: 3em;
    background-color: #293038;
    display: inline-block;
    text-align: center;
    line-height: 3em;
    color:#FFF;
}

.left .selected {
    background-color: #00c1de;
    color:#FFF;
}
.left a:hover {
    background-color: #5b6175;
    color: #FFF;
}


.head a {
    text-decoration: none;
    color: #FFF;
    display: inline-block;
    line-height: 2em;
    
}

    .head a:first-child {
        margin-left: 0.5em;
    }



#detailWindow {
    position: absolute;
    background-color: #F2F2F2;
    z-index: 2000;
    left: 10%;
    right: 10%;
    top: 5%;
    bottom: 7%;
    display: none;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.35);
    border-right: 1px solid #ebecec;
    border-left: 1px solid #ebecec;
    border-bottom: 1px solid #ebecec;
}

    #detailWindow iframe
    {
        width:100%;
        height:95%;
        border:none;
        overflow-y:scroll;
    }
    
    
    #detailWindow a {
        text-decoration: none;
        color: #FFF;
    }

        #detailWindow a:hover {
            text-decoration: none;
            color: #FFF;
            background-color: #ff9900;
        }

    #detailWindow > .header {
        height: 2em;
        line-height: 2em;
        width: 100%;
        background-color: #00C1DE;
        color:#FFF;
    }

    #detailWindow .title { 
        margin-left:1em;
    }

    #detailWindow .btn.close {
       float:right;
       margin-right:1em;

    }

#dialog {
    width: 30em;
    height: 9em;
    background-color: antiquewhite;
    z-index: 3000;
    position: fixed;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    display:none;
}

#modal {
    background: beige;
    position: absolute;
    z-index: 2999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.3;
    display: none;
}


#dialog > .message {
    font-size: 2em;
    line-height: 2.5em;
    width: 100%;
    text-align: center;
}


.listItem3 {
    text-decoration: none;
    color: #222;
    display: inline-block;
    width: 100%;
    height: 7em;
    background-color: #FFF;
}

    .listItem3:hover {
        background-color: #f5f5f6;
    }
    
    .listItem3 > .row1 {
    }

    .listItem3 > .row1 > .waring {
        font-size: 0.8em;
        color: red;
        border: 1px solid red;
        margin-left: 0.2em;
    }

    .listItem3 > .row1 > .category {
        margin-left: 0.5em;
        font-weight: 900;
    }

    .listItem3 > .row2 {
        height: 4em;
        width: 100%;
        overflow: hidden;
        font-size: 0.80em;
        margin-top: 0.3em;
    }

        .listItem3 > .row2 > div {
            margin-left: 0.2em;
            margin-right: 0.2em;
        }

    .listItem3 > .row3 {
        margin-top: 0.2em;
    }
        .listItem3 > .row3 span {
            font-size: 0.85em;
            font-weight: 700;
            float: left;
        }

            .listItem3 > .row3 span:first-child {
                font-size: 0.85em;
                margin-left: 0.2em;
                float: left;
                font-weight: 500;
                margin-right:0.3em;
            }

            .listItem3 > .row3 span:last-child {
                font-size: 0.85em;
                float: right;
                margin-right: 0.5em;
                font-weight: 500;
            }


.listItem4 {
    text-decoration: none;
    color: #222;
    display: inline-block;
    width: 100%;
    height: 4em;
    background-color: #FFF;
    font-size: 1.2em;
    vertical-align: middle;
    line-height: 4em;
    text-align: center;
}

.listItem4:hover {
    background-color: #f5f5f6;
}

#summaryList {
    list-style: none;
            margin-left: -40px;
            margin-top: 0;
}

.filter {
    width: 100%;
    width: 100%;
    height: 2.5em;
    line-height: 3em;
    /* text-align: start; */
}

    .filter > span  {
        margin-left: 0.3em;
    }

    .filter > a  {
        float: right;
        margin-right: 0.5em;
        text-decoration: none;
        color: #222;
    }

    .filter > .dropdownlist {
        width: 100%;
        display:none;
    }

        .filter > .dropdownlist > div {
            position: absolute;
            right: 0;
            width: 4em;
            background-color: #f5f5f6;
            text-align: center;
            box-shadow: 5px 5px 5px rgba(0,0,0,0.35);
        }
            .filter > .dropdownlist > div > ul {
                list-style: none;
                margin-left: -40px;
                margin-top: 0;
            }

                .filter > .dropdownlist > div > ul > li {
                    line-height: 1.5em;
                }

                    .filter > .dropdownlist > div > ul > li > a {
                        text-decoration: none;
                        display: block;
                        margin-top: 0.3em;
                        margin-bottom: 0.3em;
                        color:#222;
                    }

                        .filter > .dropdownlist > div > ul > li > a:hover {
                            color: #FFF;
                            background-color: #ebecec;
                        }